*{
    margin: 0;
    padding: 0;
}
body{
    color: #435043;
    font-family: system-ui;
}
.crud{
     width: 80%;
     margin: auto;/* to content text */
}
/* head style */
.head{
    text-align: center;
    margin:  10px 0;
}
/* style of input */
input {
    width: 100%;
    height: 30px;
    outline:none ;
    border: none;
    background-color: #111;
    margin: 4px 0;
    border-radius: 5px;
    padding: 10px;
    color: rgb(111, 111, 180);
    
}
input:focus{

    background-color: #0000;/* to doing foucs for div */
    transform: scale(1.1);  /* scale for input */
}
/* style of price */
.price input{
  width: 20%;
}
#total{
    background: #165f3b6b;
    padding: 5px,2px;
    border-radius: 4px;

}
#total::before{
    content: 'Total:';   /* to change the name of total */
}
/* style for buttons */
button {
    width: 100%; 
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: #165f3b6b;
    border-radius:20px ;
    transition: 0.5s; /* to control in time of letter-spacing */

}
#submit{
    text-transform: uppercase;
}
button:hover{
     background-color: hsla(151, 18%, 57%, 0.42); 
     letter-spacing: 1.3px;

}/* style of output */
.btn-search{
    
    display: flex;
    justify-content: space-between;
}
.btn-search button{
    width: 45%;
}
table{
    width: 100%;
    text-align: center;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 4px;
}
#deleteAll{
    margin:  20px 0;
}